# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.ko
*.mod.c
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Compiler script
*.cmd

# KDiff3 backup
*.orig

*.order
*.builtin

# For various image file
*.img
*.swp

.config.old
.config
.missing-syscalls.d

.tmp_versions
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_kallsyms3.S
.tmp_vmlinux1
.tmp_vmlinux2
.tmp_vmlinux3
.version
Module.symvers
System.map
arch/arm/boot/Image
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/zImage
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
scripts/
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio
vmlinux
